@media (max-width: 768px) and (min-width: 320px) {

    #carouselExampleAutoplaying {
        margin-top: 60px;
        margin-bottom: 10px;
        border: 1px solid #880181;
        border-radius: 10px;
        text-align: center;
    }

    img {
        border-radius: 10px;
    }

    #titulo {
        font-size: 40px;
    }

    header {
        margin-top: 50px;
    }

    h2 {
        text-align: center;
        text-shadow: 2px 1px rgb(25, 206, 40);
        font-style: italic;
        font-weight: bold;
        color: #33654b;
        font-family: 'Times New Roman', Times, serif;
        border: 2px solid rgb(34, 77, 36);
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    .textoInicio {
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
    }

    .textoInicio h3 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 1px rgb(0, 0, 0);
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    p {
        color: rgb(255, 255, 255);
        text-shadow: 2px 1px rgb(0, 0, 0);
        font-size: 18px;
        margin: 5px;
    }




}

@media (max-width: 1024px) and (min-width: 769px) {
    #carouselExampleAutoplaying {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
    }

    img {
        border-radius: 10px;
    }

    h1 {

        border: 2px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    .materia-prima {
        margin-top: 100px;
        width: 670px;
        height: 200px;
        text-align: center;
    }

    #cor {
        color: rgb(38, 80, 14);
    }

}

@media (min-width: 1025px) {
    #carouselExampleAutoplaying {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;
        width: 100%;

    }

    img {
        border-radius: 10px;
        height: 350px;
    }

    h1 {

        border: 2px solid black;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    .materia-prima {
        margin-top: 100px;
        width: 1550px;
        height: 200px;
        text-align: center;
    }

    #cor {
        color: rgb(38, 80, 14);
    }

}