@media (max-width: 768px) and (min-width: 320px) {
    .mapa_ext {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 153px;
    }

    .mapa_img iframe {
        border: 1px solid #880181;
        border-radius: 10px;
        width: 450px;
        height: 500px;
    }

    #legendaLocalizacao {
        text-align: center;
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
        color: white;
        text-shadow: black 1px 1px 2px;
    }

    h4#textoLocalizacao {
        text-align: center;
        color: white;
        text-shadow: black 1px 1px 2px;
    }

    /* .vazio {
        height: 153px;
    } */
}

@media (max-width: 1024px) and (min-width: 769px) {}

@media (min-width: 1025px) {}