           .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 600px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 560px;
                        border: 1px solid #880181;
                        border-radius: 10px;
                    }

                    #legendaLocalizacao {
                        text-align: center;
                        font-size: 25px;
                        color: white;
                        text-shadow: black 1px 1px 2px;
                    }

                    h4#textoLocalizacao {
                        text-align: center;
                        color: white;
                        text-shadow: black 1px 1px 2px;
                    }