@media (max-width: 768px) and (min-width: 320px) {

      /* título da barra de nav */
    a.navbar-brand {
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        color: #3a9164;
    }

    /* botão da barra de nav */
    button.navbar-toggler {
        width: 100px;
        height: auto;
        background-color: #3a9164;
    }

}

@media (max-width: 1024px) and (min-width: 769px) {}

@media (min-width: 1025px) {}