@media (max-width: 768px) and (min-width: 320px){
/* título da barra de nav */
a.navbar-brand{ 
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #3a9164;
}
/* botão da barra de nav */
button.navbar-toggler{
    width: 100px;
    height: auto;
    background-color: #3a9164;
}
/*fundo do título oculto */
.offcanvas-header{
    background-color: #7d4c6f;
}
/*título do título oculto */
.offcanvas-title{
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    color: #3a9164;
}
/*drop menu oculto */
a.dropdown-item{ 
    font-size: 22px;
    color: #b95d9f;
    font-weight: bold;
}
/*links do menu oculto */
a.nav-link{
    font-size: 30px;
    color: #3a9164;
    font-weight: bold;
}
/*efeito ao passar mouse */
a.nav-link:hover{
    color: #7d4c6f;
}
#textoInicio{
    color: #3a9164;
    font-weight: bold;
    font-size: 30px;
}
    .item-desativado {
        pointer-events: none;
        opacity: 0.6;
        /* Opcional: Efeito visual para mostrar que está desativado */
        cursor: not-allowed;
        /* Opcional: Muda o ícone do cursor */
    }

    .link-desativado {
        pointer-events: none;
        /* Impede cliques */
        cursor: default;
        /* Remove o cursor de mãozinha */
        text-decoration: none;
        /* Opcional: Remove o sublinhado de link */
        color: gray;
        /* Opcional: Muda a cor */
    }
}

@media (max-width: 1024px) and (min-width: 769px){
  
}


@media (min-width: 1025px){

}


