@media (max-width: 768px) and (min-width: 320px) {

    /* -------------INICIO background ------------------ */
    body {
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }

    #fundo {
        background-color: #99d4c7;
    }

    fieldset.borda {
        margin-top: 70px;
        background-image: url('../../img/fundo/fundo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .borda {

        border: 4px solid #1f3e2e;
        border-style: dashed;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
    }

    /* --------------FIM background -------------------- */
    /* ----------------- footer -------------------------*/
    footer {
        margin-left: 2%;
        margin-top: 1%;
    }

    h6 {
        font-size: 2px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        color: #880181;
    }
    /* --------------FIM footer -------------------------*/
}

@media (max-width: 1024px) and (min-width: 769px) {

    /* -------------INICIO FUNDO ------------------ */
    body {
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }

    #fundo {
        background-color: rgb(0, 255, 242);
    }

    fieldset.borda {
        margin-top: 15px;
        background-color: rgba(186, 76, 230, 0.842);
    }

    .borda {
        border: 5px solid #33654b;
        box-shadow: #000000 5px 5px 10px;
        border-style: dashed;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
    }

    /* --------------FIM FUNDO -------------------- */

    /* -------------INICIO TÍTULO ----------------- */

    .container-titulo {
        text-align: center;
    }

    .texto-titulo h1 {
        font-size: 50px;
        font-family: 'Arial Black', sans-serif;
        color: rgb(38, 80, 14);
        text-shadow: 2px 2px 4px #000000;
    }

    /* --------------FIM TÍTULO -------------------- */

    /* -------------INICIO MENU -------------------- */
    .container-menu {

        text-align: center;
    }

    button {
        text-align: center;
        width: 200px;
        height: 50px;
    }

    /* --------------FIM MENU --------------------- */

}

@media (min-width: 1025px) {

    /* -------------INICIO FUNDO ------------------ */
    body {
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }

    #fundo {
        background-color: rgb(0, 255, 242);
    }

    fieldset.borda {
        margin-top: 15px;
        background-color: rgba(186, 76, 230, 0.842);
    }

    .borda {
        border: 5px solid #33654b;
        box-shadow: #000000 5px 5px 10px;
        border-style: dashed;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
    }

    /* --------------FIM FUNDO -------------------- */

    /* -------------INICIO TÍTULO ----------------- */

    .container-titulo {
        text-align: center;
    }

    .texto-titulo h1 {
        font-size: 50px;
        font-family: 'Arial Black', sans-serif;
        color: rgb(38, 80, 14);
        text-shadow: 2px 2px 4px #000000;
    }

    /* --------------FIM TÍTULO -------------------- */

    /* -------------INICIO MENU -------------------- */
    .container-menu {

        text-align: center;
    }

    button {
        text-align: center;
        width: 200px;
        height: 50px;
    }

    /* --------------FIM MENU --------------------- */
}