/* -----------CONTATO----------- */
.contato {
    background-image: url(../img/imgInicio/Captura\ de\ tela\ 2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

#endereco{
margin: 2%;
margin-left: 10%;
width: 50%;
}

#imagem {
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 30%;
    border: 2px solid #2600ff;
    border-radius: 5%;
    width: 50%;
    display: inline-block;
    display: flex;
}

.icon{
    margin-top: 6%;
}
.icons{
    width: 150%;
    
}