@media (max-width: 768px) and (min-width: 320px) {
  
 #d {
    height: 200px;
    background-color: transparent;
 }
}

@media (max-width: 1024px) and (min-width: 769px) {
  
}


@media (min-width: 1025px) {


  /* #conteudo {
    background-image: url(../img/imgInicio/fundo.jpg);
    background-position: center;
    background-size: cover;

  } */

  
/* btn inicio */
  /* #btn-inicio {
    text-decoration: none;
    color: white;
  }

  .btn-success {
    
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
  } */
}