@media (max-width: 768px) and (min-width: 320px) {
  
 #d {
    height: 200px;
    background-color: transparent;
 }

 h3{
  text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  p {
    margin-left: 5px;
      font-size: 14px;
      line-height: 1.5;

    }
 }


@media (max-width: 1024px) and (min-width: 769px) {
  
}


@media (min-width: 1025px) {

}