#conteudo {
  background-image: url(../img/imgInicio/Captura\ de\ tela\ 1.jpg);
  background-position: center;
  background-size: cover;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  
}

.slider {
  position: absolute;
  width: 100%;
  transition: opacity .2s;
  opacity: 0;
  border-radius: 12px;
  border: 3px solid rgb(2, 125, 2);
}

.on {
  opacity: 1;
}

#prev-button,
#next-button {
  width: 5%;
  height: 5%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img,
#next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}