/* LOCALIZAÇÃO */
iframe{
    border-radius: 2%;
    width: 100%; 
}
#local {
    width: 50%;
    height: 50%;
    display: flex; 
} 
#texto{
    width: 50%;
    height: 50%;
    color: #33654b; 
    text-shadow: 2px 1px black;
}
.local-texto{
    margin-top: 5%;
    margin-left: 25%;
    text-align:center;
    font-size: 22px;
    width: 50%;
    height: 50%;
    display: flex;
}
#geralLocal{
    background-image: url(../img/imgInicio/Captura\ de\ tela\ 2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}