/* -----------PRODUTOS----------- */
.imgPro {
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
    border: 2px solid #1f3e2e;
    border-radius: 5%;
}
.produtos {
    margin: 2%;   
    display: inline-block;
}
img{
    border-radius: 5%;
    width: 200px;
    height: 200px;  
}
/* Efeito ao passar o mouse sobre a imagem */
a:hover img {
    border: 1px solid #55ff00;
}

.geral{
    text-align: center;
}