/* -----------PRODUTOS----------- */
.imgPro {
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
    border: 2px solid #1f3e2e;
    border-radius: 5%;
}
.produtos {
    margin: 2%;   
    display: inline-block;
}
img{
    border-radius: 5%;
    width: 200px;
    height: 200px;  
}
/* Efeito ao passar o mouse sobre a imagem */


.geral{
    text-align: center;
}

/* -----------FIM PRODUTOS----------- */

/* -----------INFO PRODUTOS-----------  */


#imagem-trocar1:hover {
    transition: all 0.3s ease;
    scale: 1.2;
    border: 1px solid #55ff00;
    box-shadow: #55ff00 0px 0px 10px;
    content: url('../img/imgInfoProdutos/m1.jpg');
}




/* -----------FIM INFO PRODUTOS-----------  */