

.geral {
    text-align: center;
    margin: 1%;  
}

.imgPro {
    text-align: center;
    width: 90%;
    margin-bottom: 5%; 
}

.produtos {
    text-align: center;
    display: flex;
    width: 100%;
    margin: 1%;
}

img {
    text-align: center;
    border-radius: 5%;
    width: 90%;
    border: 2px solid #1f3e2e;
}

/* INFO PRODUTOS */

.imgPro:hover {
    border-radius: 5%;
    border: 1px solid #55ff00;
    box-shadow: #55ff00 0px 0px 10px;  
}   
#imagem-trocar1:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar2:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar3:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar4:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar5:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}
#imagem-trocar20:hover {
    width: 20%;
    content: url('../img/imgInfoProdutos/m1.jpg');
}

/* -----------FIM INFO PRODUTOS-----------  */